<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script>
$(document).ready(function(){
    $("input").addClass("form-control");
  });
</script>

</head>
<body >

 <div class="container">
    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible w-50 mx-auto m-5"><button type="button" class="close" data-dismiss="alert">&times;</button><li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li></div>
    {% endfor %}
</ul>
{% endif %}
{% block content %}
{% endblock %}
    </div>
</body>
</html>